@import "../../../../assets/css/common/mint.css";
.mui-right {
    height: 100%;
    width: 90%;
    position: fixed;
    z-index: 9;
    opacity: 1;
    transform: translate3d(143%, 0, 0);
    background: #fff;
}
.mui-scroll-wrapper {
    overflow: scroll;
}
.move-left {
    transform: translate3d(13%, 0, 0);
    transition: all 0.75s;
}
.move-right {
    transform: translate3d(143%, 0, 0);
    transition: all 0.75s;
}
.move-leftmask {
    opacity: 0.6;
    display: block;
    z-index: 8;
}
.move-rightmask {
    opacity: 0;
    display: none;
    z-index: 8;
}
#div_information_noData{
    top: 50%;
    position: fixed;
}
#id_Top{
    background: #eee
}